:root {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

@import 'tailwindcss';

@theme {
  /* Identitas Warna Cekas */
  --font-sans: 'Plus Jakarta Sans', ui-sans-serif, system-ui, sans-serif;
  --color-primary: #2563eb;
  --color-secondary: #10b981;
  --color-accent: #f59e0b;
  --color-surface: #f8fafc;
}



body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

/* Standarisasi Gaya Tulisan */
.heading-primary {
  @apply font-extrabold tracking-tighter uppercase;
}

.text-caption {
  @apply text-[10px] font-bold uppercase tracking-[0.2em] text-slate-400;
}

/* Base Style */
@layer base {
  body {
    @apply bg-[var(--color-surface)] text-slate-800 antialiased;
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-8px);
  }

  75% {
    transform: translateX(8px);
  }
}

.animate-shake {
  animation: shake 0.2s ease-in-out 0s 2;
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.3s ease;
}

.slide-up-enter-from,
.slide-up-leave-to {
  transform: translateY(10px);
  opacity: 0;
}